<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Stylna Vovna</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#7A6DA6">
  <meta name="msapplication-navbutton-color" content="#7A6DA6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#7A6DA6">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Page not found</span>
      </div>
    </div>
    <div class="nf">
      <div class="container">
        <div class="nf-pic">
          <div class="nf-pic__desc">
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/nf.webp" class="lazy-web"
                type="image/webp">
              <source srcset="../../images/pixel.jpg" data-original="../../images/nf.jpg" class="lazy-web"
                type="image/jpg">
              <img src="../../images/pixel.jpg" data-original="../../images/nf.jpg" class="lazy" alt="">
            </picture>
          </div>
          <div class="nf-pic__mob">
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/nf-mob.webp" class="lazy-web"
                type="image/webp">
              <source srcset="../../images/pixel.jpg" data-original="../../images/nf-mob.jpg" class="lazy-web"
                type="image/jpg">
              <img src="../../images/pixel.jpg" data-original="../../images/nf-mob.jpg" class="lazy" alt="">
            </picture>
          </div>
        </div>
        <div class="nf-text">
          <span>Страница не найдена.<br>
            Запрашиваемая Вами страница могла быть удалена, изменена или временно недоступна.
          </span>
          <span>Пожалуйста, вернитесь на главную страницу, чтобы продолжить просмотр сайта.</span>
        </div>
        <a class="nf-back" href="javascript:void(0)">Вернуться на главную страницу</a>
      </div>
    </div>

    ${require('../parts/consult.html')}
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
