<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Stylna Vovna</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#7A6DA6">
  <meta name="msapplication-navbutton-color" content="#7A6DA6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#7A6DA6">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <a href="javascript:void(0)">Блог</a>
        <span>Как выбрать шубу из всего многобразия?</span>
      </div>
    </div>
    <div class="container">
      <h1 class="page-title">Как выбрать шубу из всего многобразия?</h1>
    </div>
    <div class="section article-section">
      <div class="container">
        <span class="article-date">01/01/20</span>
        <div class="article-pic">
          <div class="article-pic__desc">
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/blog-article.webp" class="lazy-web"
                type="image/webp">
              <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article.jpg" class="lazy-web"
                type="image/jpg">
              <img src="../../images/pixel.jpg" data-original="../../images/blog-article.jpg" class="lazy" alt="">
            </picture>
          </div>
          <div class="article-pic__mob">
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-mob.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-mob.jpg" class="lazy-web"
                type="image/jpg">
              <img src="../../images/pixel.jpg" data-original="../../images/blog-article-mob.jpg" class="lazy" alt="">
            </picture>
          </div>
        </div>
        <div class="article-text">
          <p>
            Sollicitudin amet urna accumsan, et porta vivamus vitae. Cras sed nibh id ultrices in bibendum est. Posuere
            vivamus
            augue eu ut sagittis, lectus hac sed. Lorem felis sit ultricies elementum et tincidunt. Dui eget dignissim
            feugiat nulla
            consequat. Amet, sollicitudin laoreet molestie arcu. Cras lectus id viverra interdum.
            Ornare adipiscing libero tempus, sed praesent. Aliquam porttitor nullam viverra nunc lorem. Nisl fames leo,
            arcu
            porttitor interdum feugiat convallis risus. Nisl nisl, eu phasellus tincidunt. Eleifend quisque eget eget
            nibh at
            nascetur tellus.
            Habitasse volutpat amet eu amet. Mattis fames eu at in egestas diam aliquam libero.
          </p>
          <p>
            Purus vulputate ut mauris accumsan et nulla nulla sed. Posuere justo, ornare condimentum in elementum lacus.
            Mauris
            sapien egestas nunc amet adipiscing sit aliquam. Duis magna ultricies varius arcu, ac massa at eros. Mi
            tellus posuere
            amet nec, dignissim tincidunt magna. Nec nibh sollicitudin pretium auctor. Eleifend scelerisque cursus
            scelerisque elit.
            Fermentum, cursus tincidunt viverra arcu ornare elementum vulputate. Cras hac in proin tellus in
            sollicitudin purus sed
            ipsum. Dolor sit aliquet viverra volutpat aenean. Ullamcorper leo ultricies sapien neque, iaculis tortor
            donec et. Dolor
            urna, euismod arcu sed. In purus aenean risus sollicitudin vitae.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus donec risus cras mi. Amet tortor sociis
            penatibus
            quam. Ultrices urna faucibus tristique in hendrerit semper mattis tortor. Varius elit, et sit adipiscing
            laoreet eros,
            ac. Mi convallis diam purus, iaculis in molestie sit augue. Quam quis amet eget laoreet commodo eget lorem.
            Aliquam enim
            magna sit elementum. Urna sagittis non habitasse scelerisque.</p>
          <p>Dolor vitae, mattis scelerisque aliquet blandit tristique mauris scelerisque cras. Eget et condimentum in
            enim consequat
            interdum nunc lorem vitae. Egestas sed mauris neque eget molestie mollis nunc fermentum. Tincidunt arcu
            etiam amet
            vitae. Tellus mattis sit facilisi tellus tincidunt orci. Lorem nisi tellus pharetra non aliquam aliquet quis
            lorem ac.
            Diam faucibus quam risus, sed in. Adipiscing purus pellentesque risus proin. Et nunc, velit id nisl, nisl
            dignissim.
            Iaculis ac augue dictum posuere. Commodo ac vitae sagittis, lectus eu. Mi euismod vel morbi est elit mauris.
            Nulla massa
            tristique feugiat nunc aliquet morbi pulvinar mi magna.</p>
          <p>Sollicitudin amet urna accumsan, et porta vivamus vitae. Cras sed nibh id ultrices in bibendum est. Posuere
            vivamus
            augue eu ut sagittis, lectus hac sed. Lorem felis sit ultricies elementum et tincidunt. Dui eget dignissim
            feugiat nulla
            consequat. Amet, sollicitudin laoreet molestie arcu. Cras lectus id viverra interdum.
            Ornare adipiscing libero tempus, sed praesent. Aliquam porttitor nullam viverra nunc lorem. Nisl fames leo,
            arcu
            porttitor interdum feugiat convallis risus. Nisl nisl, eu phasellus tincidunt. Eleifend quisque eget eget
            nibh at
            nascetur tellus.
            Habitasse volutpat amet eu amet. Mattis fames eu at in egestas diam aliquam libero. At vestibulum sapien
            risus natoque
            mauris. Leo ultrices ac platea dolor, nisl. Arcu vel amet aliquam lacus volutpat.</p>
        </div>
        <div class="last-articles">
          <span class="last-articles__title">Последние статьи</span>
          <ul class="last-articles__list">
            <li>
              <a class="last-articles-item" href="javascript:void(0)">
                <div class="last-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-01.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-01.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="last-articles-item__about">
                  <span class="last-articles-item__about-date">21/01/20</span>
                  <span class="last-articles-item__about-title">Как повторить модный образ: ошибки и советы</span>
                  <p class="last-articles-item__about-text">Купуючи шубки саме з натуральної вовни, ви рятуєте життя не
                    одній овечці та заробляєте плюсик собі у карму.</p>
                </div>
              </a>
            </li>
            <li>
              <a class="last-articles-item" href="javascript:void(0)">
                <div class="last-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-02.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-02.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-02.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="last-articles-item__about">
                  <span class="last-articles-item__about-date">21/01/20</span>
                  <span class="last-articles-item__about-title">Утепляемся к зиме: базовый женский гардероб</span>
                  <p class="last-articles-item__about-text">Заробляйте в карму плюс, купуючи шубки саме з натуральної
                    вовни, ви рятуєте життя не одній овечці .</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
