<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Stylna Vovna</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#7A6DA6">
  <meta name="msapplication-navbutton-color" content="#7A6DA6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#7A6DA6">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Блог</span>
      </div>
    </div>
    <div class="container">
      <h1 class="page-title">Блог</h1>
    </div>
    <div class="container">
      <div class="blog-content">
        <div class="blog-inner">
          <div class="blog-article-big">
            <a href="javascript:void(0)">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-big-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-big-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-big-01.jpg" class="lazy" alt="">
              </picture>
              <div class="blog-article-big__inner">
                <span class="blog-article-big__inner-name">Модные тенденции в этом году: чего ожидать?</span>
                <span class="blog-article-big__inner-date">21/01/20</span>
              </div>
            </a>
          </div>
          <ul class="blog-articles__list">
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-03.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-03.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-03.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Как выбрать шубу из всего многобразия?</span>
                  <p class="blog-articles-item__about-text">А, купуючи шубки саме з натуральної вовни, ви рятуєте життя
                    не одній овечці та заробляєте плюсик собі у карму.</p>
                </div>
              </a>
            </li>
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-01.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-01.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Как повторить модный образ: ошибки и советы</span>
                  <p class="blog-articles-item__about-text">Купуючи шубки саме з натуральної вовни, ви рятуєте життя не
                    одній овечці та заробляєте плюсик собі у карму.</p>
                </div>
              </a>
            </li>
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-02.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-02.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-02.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Утепляемся к зиме: базовый женский гардероб</span>
                  <p class="blog-articles-item__about-text">Заробляйте в карму плюс, купуючи шубки саме з натуральної
                    вовни, ви рятуєте життя не одній овечці .</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="blog-inner">
          <div class="blog-article-big">
            <a href="javascript:void(0)">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-big-02.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-big-02.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-big-02.jpg" class="lazy" alt="">
              </picture>
              <div class="blog-article-big__inner">
                <span class="blog-article-big__inner-name">Модные тенденции в этом году: чего ожидать?</span>
                <span class="blog-article-big__inner-date">21/01/20</span>
              </div>
            </a>
          </div>
          <ul class="blog-articles__list">
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-03.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-03.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-03.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Как выбрать шубу из всего многобразия?</span>
                  <p class="blog-articles-item__about-text">А, купуючи шубки саме з натуральної вовни, ви рятуєте життя
                    не одній овечці та заробляєте плюсик собі у карму.</p>
                </div>
              </a>
            </li>
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-01.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-01.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Как повторить модный образ: ошибки и советы</span>
                  <p class="blog-articles-item__about-text">Купуючи шубки саме з натуральної вовни, ви рятуєте життя не
                    одній овечці та заробляєте плюсик собі у карму.</p>
                </div>
              </a>
            </li>
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-02.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-02.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-02.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Утепляемся к зиме: базовый женский гардероб</span>
                  <p class="blog-articles-item__about-text">Заробляйте в карму плюс, купуючи шубки саме з натуральної
                    вовни, ви рятуєте життя не одній овечці .</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="blog-inner">
          <div class="blog-article-big">
            <a href="javascript:void(0)">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-big-03.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-big-03.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-big-03.jpg" class="lazy" alt="">
              </picture>
              <div class="blog-article-big__inner">
                <span class="blog-article-big__inner-name">Модные тенденции в этом году: чего ожидать?</span>
                <span class="blog-article-big__inner-date">21/01/20</span>
              </div>
            </a>
          </div>
          <ul class="blog-articles__list">
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-03.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-03.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-03.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Как выбрать шубу из всего многобразия?</span>
                  <p class="blog-articles-item__about-text">А, купуючи шубки саме з натуральної вовни, ви рятуєте життя
                    не одній овечці та заробляєте плюсик собі у карму.</p>
                </div>
              </a>
            </li>
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-01.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-01.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Как повторить модный образ: ошибки и советы</span>
                  <p class="blog-articles-item__about-text">Купуючи шубки саме з натуральної вовни, ви рятуєте життя не
                    одній овечці та заробляєте плюсик собі у карму.</p>
                </div>
              </a>
            </li>
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-02.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-02.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-02.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Утепляемся к зиме: базовый женский гардероб</span>
                  <p class="blog-articles-item__about-text">Заробляйте в карму плюс, купуючи шубки саме з натуральної
                    вовни, ви рятуєте життя не одній овечці .</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="blog-inner">
          <div class="blog-article-big">
            <a href="javascript:void(0)">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-big-04.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-big-04.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-big-04.jpg" class="lazy" alt="">
              </picture>
              <div class="blog-article-big__inner">
                <span class="blog-article-big__inner-name">Модные тенденции в этом году: чего ожидать?</span>
                <span class="blog-article-big__inner-date">21/01/20</span>
              </div>
            </a>
          </div>
          <ul class="blog-articles__list">
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-03.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-03.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-03.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Как выбрать шубу из всего многобразия?</span>
                  <p class="blog-articles-item__about-text">А, купуючи шубки саме з натуральної вовни, ви рятуєте життя
                    не одній овечці та заробляєте плюсик собі у карму.</p>
                </div>
              </a>
            </li>
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-01.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-01.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Как повторить модный образ: ошибки и советы</span>
                  <p class="blog-articles-item__about-text">Купуючи шубки саме з натуральної вовни, ви рятуєте життя не
                    одній овечці та заробляєте плюсик собі у карму.</p>
                </div>
              </a>
            </li>
            <li>
              <a class="blog-articles-item" href="javascript:void(0)">
                <div class="blog-articles-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-article-02.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-article-02.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-article-02.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="blog-articles-item__about">
                  <span class="blog-articles-item__about-date">21/01/20</span>
                  <span class="blog-articles-item__about-title">Утепляемся к зиме: базовый женский гардероб</span>
                  <p class="blog-articles-item__about-text">Заробляйте в карму плюс, купуючи шубки саме з натуральної
                    вовни, ви рятуєте життя не одній овечці .</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="pagination">
        <span class="btn btn-tr">Назад</span>
        <ul>
          <li>
            <span>1</span>
          </li>
          <li>
            <a href="javascript:void(0)">2</a>
          </li>
          <li>
            <a href="javascript:void(0)">3</a>
          </li>
          <li>
            <a href="javascript:void(0)">4</a>
          </li>
          <li>
            <a href="javascript:void(0)">...</a>
          </li>
          <li>
            <a href="javascript:void(0)">12</a>
          </li>
        </ul>
        <a class="btn btn-tr" href="javascript:void(0)">Вперед</a>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
