<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Stylna Vovna</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#7A6DA6">
  <meta name="msapplication-navbutton-color" content="#7A6DA6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#7A6DA6">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Каталог шуб</span>
      </div>
    </div>
    <div class="container">
      <h1 class="page-title">Каталог шуб</h1>
    </div>
    <div class="catalog-page">
      <div class="container">
        <div class="catalog-page__head">
          <span class="catalog-page__head-count">
            Показано 456 позиции
          </span>
          <div class="catalog-page__head-controls">
            <div class="catalog-page__head-sort">
              <span>Cортировка</span>
              <div class="dropdown-sort">
                <div class="dropdown-sort-top">
                  <div class="dropdown-sort-top-text">От дорогих к дешевым</div>
                  <i>
                    <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_254_1411)">
                        <path
                          d="M8.0625 3.20625L7.48125 2.625L4.5 5.60625L1.51875 2.625L0.937502 3.20625L4.5 6.75L8.0625 3.20625Z"
                          fill="#7A6DA6" />
                      </g>
                      <defs>
                        <clipPath id="clip0_254_1411">
                          <rect width="9" height="9" fill="white" transform="translate(9) rotate(90)" />
                        </clipPath>
                      </defs>
                    </svg>

                  </i>
                </div>
                <div class="dropdown-sort-bot">
                  <div class="dropdown-sort-bot-item">От дорогих к дешевым</div>
                  <div class="dropdown-sort-bot-item">От дешевых к дорогим</div>
                  <div class="dropdown-sort-bot-item">Новинки</div>
                  <div class="dropdown-sort-bot-item">Акции</div>
                </div>
              </div>
            </div>
            <div class="catalog-page__head-view">
              <span class="active"><svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 0V9.5436H9.5436V0H0ZM8.18023 8.18023H1.36337V1.36337H8.18023V8.18023ZM12.2703 0V9.5436H21.814V0H12.2703ZM20.4506 8.18023H13.6337V1.36337H20.4506V8.18023ZM0 12.2703V21.814H9.5436V12.2703H0ZM8.18023 20.4506H1.36337V13.6337H8.18023V20.4506ZM12.2703 12.2703V21.814H21.814V12.2703H12.2703ZM20.4506 20.4506H13.6337V13.6337H20.4506V20.4506Z"
                    fill="#AAA7B2" />
                  <path
                    d="M0 0V9.5436H9.5436V0H0ZM8.18023 8.18023H1.36337V1.36337H8.18023V8.18023ZM12.2703 0V9.5436H21.814V0H12.2703ZM20.4506 8.18023H13.6337V1.36337H20.4506V8.18023ZM0 12.2703V21.814H9.5436V12.2703H0ZM8.18023 20.4506H1.36337V13.6337H8.18023V20.4506ZM12.2703 12.2703V21.814H21.814V12.2703H12.2703ZM20.4506 20.4506H13.6337V13.6337H20.4506V20.4506Z"
                    fill="#AAA7B2" />
                </svg>
              </span>
              <span><svg width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6.62338 12.2931V10.7069H30V12.2931H6.62338ZM6.62338 21.8103V20.2241H30V21.8103H6.62338ZM6.62338 2.77586V1.18966H30V2.77586H6.62338ZM0 0H3.8961V3.96552H0V0ZM1.16883 2.77586H2.72727V1.18966H1.16883V2.77586ZM0 9.51724H3.8961V13.4828H0V9.51724ZM1.16883 10.7069V12.2931H2.72727V10.7069H1.16883ZM0 19.0345H3.8961V23H0V19.0345ZM1.16883 20.2241V21.8103H2.72727V20.2241H1.16883Z"
                    fill="#AAA7B2" />
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="catalog-page__body row">
          <div class="col-md-3">
            <div class="catalog-filter">
              filter
            </div>
          </div>
          <div class="col-md-9">
            <div class="catalog-items">
              items
            </div>
            <div class="pagination">
              <span class="btn btn-tr">Назад</span>
              <ul>
                <li>
                  <span>1</span>
                </li>
                <li>
                  <a href="javascript:void(0)">2</a>
                </li>
                <li>
                  <a href="javascript:void(0)">3</a>
                </li>
                <li>
                  <a href="javascript:void(0)">4</a>
                </li>
                <li>
                  <a href="javascript:void(0)">...</a>
                </li>
                <li>
                  <a href="javascript:void(0)">12</a>
                </li>
              </ul>
              <a class="btn btn-tr" href="javascript:void(0)">Вперед</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
