<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Stylna Vovna</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#7A6DA6">
  <meta name="msapplication-navbutton-color" content="#7A6DA6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#7A6DA6">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Наши клиенты</span>
      </div>
    </div>
    <div class="container">
      <h1 class="page-title">Наши клиенты</h1>
    </div>
    <div class="our-clients">
      <div class="container">
        <div class="our-clients-list">
          <div class="our-clients-item">
            <div class="our-clients-item__pic lightgallery">
              <picture class="light-item" data-src="../../images/clients-01.jpg">
                <source srcset="../../images/pixel.webp" data-original="../../images/clients-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/clients-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/clients-01.jpg" class="lazy" alt="">
              </picture>
            </div>
            <div class="our-clients-item__links">
              <a href="javascript:void(0)">@djsfksdj</a>
              <span>в шубе</span>
              <a href="javascript:void(0)">Ktlzykejrwlknerlk</a>
            </div>
          </div>
          <div class="our-clients-item">
            <div class="our-clients-item__pic lightgallery">
              <picture class="light-item" data-src="../../images/clients-02.jpg">
                <source srcset="../../images/pixel.webp" data-original="../../images/clients-02.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/clients-02.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/clients-02.jpg" class="lazy" alt="">
              </picture>
            </div>
            <div class="our-clients-item__links">
              <a href="javascript:void(0)">@djsfksdj</a>
              <span>в шубе</span>
              <a href="javascript:void(0)">Ktlzykejrwlknerlk</a>
            </div>
          </div>
          <div class="our-clients-item">
            <div class="our-clients-item__pic lightgallery">
              <picture class="light-item" data-src="../../images/clients-03.jpg">
                <source srcset="../../images/pixel.webp" data-original="../../images/clients-03.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/clients-03.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/clients-03.jpg" class="lazy" alt="">
              </picture>
            </div>
            <div class="our-clients-item__links">
              <a href="javascript:void(0)">@djsfksdj</a>
              <span>в шубе</span>
              <a href="javascript:void(0)">Ktlzykejrwlknerlk</a>
            </div>
          </div>
          <div class="our-clients-item">
            <div class="our-clients-item__pic lightgallery">
              <picture class="light-item" data-src="../../images/clients-04.jpg">
                <source srcset="../../images/pixel.webp" data-original="../../images/clients-04.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/clients-04.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/clients-04.jpg" class="lazy" alt="">
              </picture>
            </div>
            <div class="our-clients-item__links">
              <a href="javascript:void(0)">@djsfksdj</a>
              <span>в шубе</span>
              <a href="javascript:void(0)">Ktlzykejrwlknerlk</a>
            </div>
          </div>
          <div class="our-clients-item">
            <div class="our-clients-item__pic lightgallery">
              <picture class="light-item" data-src="../../images/clients-05.jpg">
                <source srcset="../../images/pixel.webp" data-original="../../images/clients-05.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/clients-05.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/clients-05.jpg" class="lazy" alt="">
              </picture>
            </div>
            <div class="our-clients-item__links">
              <a href="javascript:void(0)">@djsfksdj</a>
              <span>в шубе</span>
              <a href="javascript:void(0)">Ktlzykejrwlknerlk</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </main>
  ${require('../parts/footer.html')}

</body>

</html>
