<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Stylna Vovna</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#7A6DA6">
  <meta name="msapplication-navbutton-color" content="#7A6DA6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#7A6DA6">
</head>

<body class="overflow">
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Доставка / Оплата</span>
      </div>
    </div>
    <div class="container">
      <h1 class="page-title">Доставка / Оплата</h1>
    </div>
    <div class="container">
      <div class="change">
        <div class="change__wrapper">
          <div class="change__inner">
            <h2>Доставка</h2>
            <p class="note">Відправки щоденно лише Новою поштою, згідно тарифів перевізника, за рахунок покупця.
              При оплаті замовлення до 17.00 відправка в той же день. Якщо пізніше - наступного дня. При повній оплаті
              на
              розрахунковий рахунок гроші заходять не відразу, як правило, від години до доби, в залежності від банку
              платника, тому
              просимо враховувати це при оплаті замовлення у другій половині дня.
            </p>
          </div>
        </div>
        <div class="change__wrapper">
          <div class="change__inner">
            <h2>Оплата</h2>



            <ol class="note">
              <li>
                <b>1. В шоурумі Stylna Vovna</b>
                <p>Оплата готівкою або банківською карткою</p>
              </li>
              <li>
                <b>2. При замовленні поштою накладеним платежем</b>
                <p>Оплата банківською карткою або готівкою у відділенні пошти. Відправки лише по передплаті 300 грн,
                  решта суми накладеним.</p>
                <p>Зверніть увагу, що Нова пошта бере комісію 2%+20 грн від суми накладеного платежу за переказ коштів.
                  Вартість доставки
                  згідно тарифів Нової пошти</p>
              </li>
              <li>
                <b>3. При замовленні поштою по повній оплаті</b>
                <p>Оплата на сайті банківською карткою або оплата на рахунок по реквізитам. Вартість доставки згідно
                  тарифів Нової пошти.</p>
              </li>
              <li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    ${require('../parts/consult.html')}
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
