<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Stylna Vovna</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#7A6DA6">
  <meta name="msapplication-navbutton-color" content="#7A6DA6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#7A6DA6">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Вопрос/ Ответ</span>
      </div>
    </div>
    <div class="container">
      <h1 class="page-title">Вопрос / ответ</h1>
    </div>
    <div class="section faq-section">
      <div class="container">
        <div class="faq-item">
          <div class="faq-head">
            <span>Як підібрати розмір?</span>
            <i>
              <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.57743e-10 0.954545L0.96 0L6 5.07818L11.04 0L12 0.954545L6 7L1.57743e-10 0.954545Z"
                  fill="#7A6DA6" />
              </svg>
            </i>
          </div>
          <div class="faq-body">
            <div class="faq-body__inner">
              <p>Найкращий та найшвидший варіант підібрати шубку - це зв’язатись з нами ще до оформлення замовлення, щоб
                ми допомогли
                підібрати розмір виходячи з Ваших параметрів (зріст, об’єми грудей та стегон)</p>
            </div>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-head">
            <span>Чи шиєте ви шубки по індивідуальним параметрам?
            </span>
            <i>
              <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.57743e-10 0.954545L0.96 0L6 5.07818L11.04 0L12 0.954545L6 7L1.57743e-10 0.954545Z"
                  fill="#7A6DA6" />
              </svg>
            </i>
          </div>
          <div class="faq-body">
            <p>Ні, не шиємо. Ми взагалі не шиємо. Виробництво наших шуб знаходиться в Китаї. Ми працюємо лише з
              найкращими та
              перевіреними роками фабриками.</p>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-head">
            <span>Чи є у вас шуби великих розмірів або на високий зріст?</span>
            <i>
              <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.57743e-10 0.954545L0.96 0L6 5.07818L11.04 0L12 0.954545L6 7L1.57743e-10 0.954545Z"
                  fill="#7A6DA6" />
              </svg>
            </i>
          </div>
          <div class="faq-body">
            <p>Як правило, всі наші моделі шуб мають розмірну сітку від Хs до L та підходять на середній зріст 160-172
              см. Але бувають
              і виключення, в цих випадках ми пишемо про це в публікаціях соц мереж або в описі товару на сайті.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-head">
            <span>Чому ми називаємо себе ЕКО? Що таке справжнє ЕКОхутро?</span>
            <i>
              <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.57743e-10 0.954545L0.96 0L6 5.07818L11.04 0L12 0.954545L6 7L1.57743e-10 0.954545Z"
                  fill="#7A6DA6" />
              </svg>
            </i>
          </div>
          <div class="faq-body">
            <p>Натуральні екошубки це гуманно, сучасно, зручно, доступно, практично, стильно та красиво.<br>
              Наші шубки виготовлені із 100% натуральної виключно стриженої овечої вовни; для виготовлення такої вовни
              вирощуються
              овечки спеціальних порід, найчастіше це «тоскана» чи «меринос»
              Вовна овечок дуже легенька, відштовхує вологу і прекрасно тримає тепло; гіпоалергенна та дихаюча ; шубки з
              натуральної
              вовни зручні, практичні та невибагливі в догляді.
              Сам термін еко передбачає турботу про навколишнє середовище, чи можна його примінити до штучних
              синтетичних шуб? Наша
              переконлива думка - НІ
              А, купуючи шубки саме з натуральної вовни, ви рятуєте життя не одній овечці та заробляєте плюсик собі у
              карму😉
            </p>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-head">
            <span>Де можна вживу приміряти шубки?</span>
            <i>
              <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.57743e-10 0.954545L0.96 0L6 5.07818L11.04 0L12 0.954545L6 7L1.57743e-10 0.954545Z"
                  fill="#7A6DA6" />
              </svg>
            </i>
          </div>
          <div class="faq-body">
            <p>Шоурум знаходиться у Харкові за адресою Чернишевська, 10. Ми працюємо кожен день, але велике прохання
              домовлятися о
              примірці заздалегідь, тому що у нас шоурум закритого типу.</p>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-head">
            <span>Як доглядати за шубкою?</span>
            <i>
              <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.57743e-10 0.954545L0.96 0L6 5.07818L11.04 0L12 0.954545L6 7L1.57743e-10 0.954545Z"
                  fill="#7A6DA6" />
              </svg>
            </i>
          </div>
          <div class="faq-body">
            <p>Ми дуже хочемо, щоб наші шубки не тільки гріли та приносили позитивні емоції, але й прослужили довго,
              тому залишаємо
              короткі рекомендації по догляду за нею:</p>
            <ul>
              <li>
                Чистити лише в професійних хімчистках (суха чистка). Не прати!
              </li>
              <li>
                Рекомендуємо зберігати шубку в чохлі.
              </li>
              <li>
                Шубка достатньо вологостійка. Cніг та невеликий дощ не несуть загрози, але зливу краще уникати.
              </li>
              <li>
                Висушити шубку модна в домашніх умовах природним шляхом без використання фену та інших нагрівачів
                повітря.
              </li>
              <li>
                Щоб шубка максимально довго виглядала як нова, хутро можна відпарювати та обережно розчісувати м’якою
                щіткою.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    ${require('../parts/links.html')}
    ${require('../parts/consult.html')}
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
