<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Stylna Vovna</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#7A6DA6">
  <meta name="msapplication-navbutton-color" content="#7A6DA6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#7A6DA6">
</head>

<body class="overflow">
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Обмен / Возврат</span>
      </div>
    </div>
    <div class="container">
      <h1 class="page-title">Обмен / Возврат</h1>
    </div>
    <div class="container">
      <div class="change">
        <div class="change__wrapper">
          <div class="change__inner thanks">
            <i>Ми дуже цінуємо, що Ви нас обрали та насправді завжди на Вашому боці. Працюємо та постійно покращуємо
              сервіс, щоб ви
              залишилися задоволені покупкою та повернулися до нас знову, тому щиро засмучиємось, якщо не підійшов
              розмір,
              колір або
              фасон.</i>
            <i>Тому ми завжди відкриті для зворотнього зв’язку та спілкування.</i>
            <span class="author">
              <b>З повагою, Ваша Stylna Vovna</b>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/round-logo.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/round-logo.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/round-logo.png" class="lazy" alt="">
              </picture>
            </span>
          </div>
        </div>
        <div class="change__wrapper">
          <div class="change__inner">
            <h2>Гарантія на товар</h2>
            <p class="note">На вcі наші шубки надається гарантія, яка підтверджує зобов’язання по відсутності в товарі
              фабричних дефектів, на термін
              100 днів і вступає в силу наступного дня після передачі замовлення в кур’єрську службу (при Інтернет
              замовленні) або з
              моменту покупки в магазині, або з моменту настання осінньо-зимового сезону (1 листопада).</p>
            <h2>Обмін та повернення</h2>
            <p>Ви можете повернути/обміняти товар протягом 14 днів з моменту покупки. Це право гарантує Закон України
              “Про захист прав
              споживачів”. Повернення/обмін товару проводиться шляхом повернення нам придбанного товару з подальшим
              відшкодуванням
              коштів покупцю. Щоб скористатися цією можливістю, будь ласка, переконайтеся, що:</p>
            <ul>
              <li>товар не був у вжитку і не має сліді викорстання: подряпин, потертостей, не піддавався змінам і т.п.;
              </li>
              <li>товар повністю укомплектований;</li>
              <li>збережені всі ярлики, бірки та гарантійна пломба з індивідуальним номером.</li>
            </ul>
            <p>Ми повертаємо кошти за Ваше замовлення після отримання товару і розгляду поданої заяви на
              повернення/обмін, але не
              пізніше 5 днів із моменту надходження данного товару і заяви на повернення/обмін.</p>
            <h2>В яких випадках може бути відмовлено в обміні/поверненні товару?</h2>
            <p>Відмова в обміні/поверненні товару може бути за наступних причин:</p>
            <ul>
              <li>порушена цілісність ярликів, бірок та гарантійної пломби;</li>
              <li>є механічні або інші пошкодження, які виникли внаслідок умисних або необережних дій покупця чи третіх
                осіб.</li>
            </ul>
            <p class="note">Звертаємо Вашу увагу на те, що посилки, відправлені із пересилкою за рахунок одержувача, ми
              не отримуємо. У цьому
              випадку посилки повертаються відправнику.</p>
            <p class="note">Ми оплатимо послуги доствки у разі, якщо обмін/повернення посилки сталося з вини магазину, а
              саме:</p>
            <ul class="note">
              <li>товар не відповідаю опису на сайті магазину;</li>
              <li>отриманий товар не відповідає замовленому;</li>
              <li>бракований товар.</li>
            </ul>

          </div>

        </div>

      </div>
    </div>
    ${require('../parts/consult.html')}
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
