<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Stylna Vovna</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#7A6DA6">
  <meta name="msapplication-navbutton-color" content="#7A6DA6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#7A6DA6">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Отзывы</span>
      </div>
    </div>
    <div class="container">
      <h1 class="page-title">Отзывы</h1>
    </div>
    <div class="reviews">
      <div class="container">
        <a href="javascript:void(0)" class="btn btn-arrow reviews-btn reviews-btn--top popup-btn"
          data-mfp-src="#review-popup""
          data-mfp-src=" #review-popup">
          <span>
            Оставить отзыв
            <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64644L22.1716 0.464464C21.9763 0.269202 21.6597 0.269202 21.4645 0.464464C21.2692 0.659726 21.2692 0.976309 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.73079 21.9763 7.73079 22.1716 7.53553L25.3536 4.35355ZM4.37114e-08 4.5L25 4.5L25 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z"
                fill="white"></path>
            </svg>
          </span>
        </a>
        <ul class="reviews__list">
          <li>
            <div class="reviews__item">
              <div class="reviews__item-pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/reviews-01.webp" class="lazy-web"
                    type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/reviews-01.jpg" class="lazy-web"
                    type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/reviews-01.jpg" class="lazy" alt="">
                </picture>
              </div>
              <div class="reviews__item-inner">
                <span class="reviews__item-name">
                  Света
                </span>
                <div class="reviews__item-rating">
                  <div class="rating-stars">
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                  </div>
                </div>
                <p class="reviews__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam tellus dictumst. Egestas
                  eget est curabitur
                  suspendisse faucibus amet dignissim. Ipsum sed feugiat sit maecenas egestas. Eget id posuere facilisis
                  sit augue.
                </p>
                <div class="reviews__item-date">
                  <span>Оставил отзвыв:</span>
                  <small>21/01/20</small>
                </div>
                <div class="reviews__item-answer">
                  <span>StylnaVovna:</span>
                  <p>Дякуємо за відгук. Нам дуже приємно це чути</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="reviews__item">
              <div class="reviews__item-pic"></div>
              <div class="reviews__item-inner">
                <span class="reviews__item-name">
                  Albinochka
                </span>
                <div class="reviews__item-rating">
                  <div class="rating-stars">
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                  </div>
                </div>
                <p class="reviews__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam tellus dictumst.
                </p>
                <div class="reviews__item-date">
                  <span>Оставил отзвыв:</span>
                  <small>21/01/20</small>
                </div>
                <div class="reviews__item-answer">
                  <span>StylnaVovna:</span>
                  <p>Дякуємо за відгук. Нам дуже приємно це чути</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="reviews__item">
              <div class="reviews__item-pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/reviews-02.webp" class="lazy-web"
                    type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/reviews-02.jpg" class="lazy-web"
                    type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/reviews-02.jpg" class="lazy" alt="">
                </picture>
              </div>
              <div class="reviews__item-inner">
                <span class="reviews__item-name">
                  veronika
                </span>
                <div class="reviews__item-rating">
                  <div class="rating-stars">
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                  </div>
                </div>
                <p class="reviews__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam tellus dictumst. Egestas
                  eget est curabitur
                  suspendisse faucibus amet dignissim. Ipsum sed feugiat sit maecenas egestas. Eget id posuere facilisis
                  sit augue. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam tellus dictumst. Egestas eget
                  est curabitur
                  suspendisse faucibus amet dignissim
                </p>
                <div class="reviews__item-date">
                  <span>Оставил отзвыв:</span>
                  <small>21/01/20</small>
                </div>
                <div class="reviews__item-answer">
                  <span>StylnaVovna:</span>
                  <p>Дякуємо за відгук. Нам дуже приємно це чути</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="reviews__item">
              <div class="reviews__item-pic"></div>
              <div class="reviews__item-inner">
                <span class="reviews__item-name">
                  Albinochka
                </span>
                <div class="reviews__item-rating">
                  <div class="rating-stars">
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star active">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                    <span class="rating-star">
                      <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.5 1.61803L8.70833 5.33688L8.82058 5.68237H9.18386H13.0941L9.93064 7.98075L9.63675 8.19427L9.74901 8.53976L10.9573 12.2586L7.79389 9.96024L7.5 9.74671L7.20611 9.96024L4.04267 12.2586L5.25099 8.53976L5.36325 8.19427L5.06936 7.98075L1.90592 5.68237H5.81614H6.17942L6.29167 5.33688L7.5 1.61803Z"
                          stroke="#F16D87" />
                      </svg>
                    </span>
                  </div>
                </div>
                <p class="reviews__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam tellus dictumst.
                </p>
                <div class="reviews__item-date">
                  <span>Оставил отзвыв:</span>
                  <small>21/01/20</small>
                </div>
                <div class="reviews__item-answer">
                  <span>StylnaVovna:</span>
                  <p>Дякуємо за відгук. Нам дуже приємно це чути</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="reviews__bottom">
          <div class="pagination">
            <span class="btn btn-tr">Назад</span>
            <ul>
              <li>
                <span>1</span>
              </li>
              <li>
                <a href="javascript:void(0)">2</a>
              </li>
              <li>
                <a href="javascript:void(0)">3</a>
              </li>
              <li>
                <a href="javascript:void(0)">...</a>
              </li>
              <li>
                <a href="javascript:void(0)">12</a>
              </li>
            </ul>
            <a class="btn btn-tr" href="javascript:void(0)">Вперед</a>
          </div>
          <a href="javascript:void(0)" class="btn btn-arrow reviews-btn popup-btn" data-mfp-src="#review-popup">
            <span>
              Оставить отзыв
              <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64644L22.1716 0.464464C21.9763 0.269202 21.6597 0.269202 21.4645 0.464464C21.2692 0.659726 21.2692 0.976309 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.73079 21.9763 7.73079 22.1716 7.53553L25.3536 4.35355ZM4.37114e-08 4.5L25 4.5L25 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z"
                  fill="white"></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
