.related-section{
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 2;
}

.related-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.related-tabs{
  display: flex;
  li{
    cursor: pointer;
    margin-right: 8px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    padding: 0 16px;
    font-size: 21px;
    line-height: 24px;
    font-family: $title;
    color: $brown;
    border: 1px solid transparent;
    transition: linear .2s;
    border-radius: 100px;
    &:hover{
      border-color: $brown;
    }
    &.active{
      border-color: rgba($main, .8);
      color: $main;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

.related-nav{
  display: flex;
  align-items: center;
  margin-right: -6px;
}

.related-arrow{
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: linear .2s;
  cursor: pointer;
  padding: 6px;
  svg{
    min-width: 26px;
    path{
      fill: $main;
    }
  }
  &:hover{
    width: 38px;
  }
  &.slick-disabled{
    &:hover{
      width: 26px;
    }
  }
  &.related-slider__prev{
    justify-content: flex-start;
    border-right: 6px solid #fff;
  }
  &.related-slider__next{
    justify-content: flex-end;
    border-left: 6px solid #fff;
  }
}

.related-content{
  margin: 0 -10px;
}

.related-slider{
  .slick-list{
    overflow: visible;
  }
  .slick-slide{
    opacity: 1;
    &:not(.slick-active){
      opacity: 0;
    }
  }
  .slide{
    padding: 0 10px;
  }
}
