.blog-section{
  padding-top: 72px;
  padding-bottom: 100px;
  background-color: $light;
  @include bp(xs) {
    padding-top: 60px;
    padding-bottom: 45px;
  }
  +.links-section{
    padding: 134px 0 114px;
  }
}

.blog-title{
  display: block;
  margin-bottom: 40px;
  font-family: $title;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  @include bp(xs) {
    margin-bottom: 15px;
  }
}

.blog-slider__outer{
  @include bp(md) {
    overflow: auto;
    width: calc(100vw - 15px);
  }
}

.blog-slider{
  @include bp(md) {
    display: flex;
  }
  .slick-list{
    overflow: visible;
  }
}

.blog-slider__wrapper{
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  height: 535px;
  @include bp(md) {
    flex-wrap: nowrap;
    height: auto;
    margin: 0;
    padding: 15px 0;
  }
}

.blog-slider__left{
  padding: 0 10px;
  height: 100%;
  @include bp(md) {
    padding: 0;
    display: flex;
    margin-right: 15px;
  }
}

.blog-slider__item-lg{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  @include bp(md) {
    width: 250px;
    height: 200px;
  }
  &:hover{
    text-decoration: none;
    filter: drop-shadow($shadow);
  }
  &:focus{
    text-decoration: none;
  }
  >picture{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  >div{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 36px 49px;
    color: #fff;
    @include bp(md) {
      padding: 16px 10px 16px 20px;
    }
    span{
      display: block;
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      @include bp(md) {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 8px;
      }
    }
    small{
      display: block;
      font-size: 16px;
      line-height: 19px;
      @include bp(md) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

.blog-slider__right{
  padding: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include bp(md) {
    padding: 0;
    flex-direction: row;
  }
  >a{
    margin-bottom: 20px;
    @include bp(md) {
      margin-bottom: 0;
      margin-right: 15px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.blog-slider__item-sm{
  display: flex;
  height: 165px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  @include bp(md) {
    width: 250px;
    height: 200px;
  }
  &:hover{
    text-decoration: none;
    filter: drop-shadow($shadow);
    >div{
      background-color: #fff;
      @include bp(md) {
        background-color: transparent;
      }
    }
  }
  &:focus{
    text-decoration: none;
  }
  >picture{
    width: 220px;
    height: 100%;
    @include bp(md) {
      width: 100%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  >div{
    color: $main;
    width: calc(100% - 220px);
    padding: 24px 10px 24px 20px;
    transition: linear .2s;
    @include bp(md) {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      color: #fff;
      display: flex;
      flex-direction: column-reverse;
      padding: 16px 10px 16px 20px;
    }
    >small{
      display: block;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px;
      @include bp(md) {
        margin-bottom: 0;
      }
    }
    >span{
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 8px;
    }
    >p{
      margin-bottom: 0;
      font-size: 14px;
      line-height: 140%;
      max-height: 60px;
      overflow: hidden;
      @include bp(lg) {
        display: none;
      }
    }
  }
}

.blog-footer{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  @include bp(xs) {
    margin-top: 30px;
  }
  .btn{
    width: 200px;
  }
}

.blog-nav{
  position: absolute;
  bottom: 0;
  right: 28px;
  display: flex;
  @include bp(md) {
    display: none;
  }
}

.blog-arrow{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $main;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  span{
    display: flex;
    overflow: hidden;
    transition: linear .2s;
    width: 14px;
  }
  svg{
    min-width: 26px;
    path{
      fill: $main;
    }
  }
  &:hover{
    span{
      width: 26px;
    }
  }
  &.slick-disabled{
    &:hover{
      span{
        width: 14px;
      }
    }
  }
  &.blog-slider__prev{
    span{
      justify-content: flex-start;
    }
  }
  &.blog-slider__next{
    span{
      justify-content: flex-end;
    }
  }
}
