.collection-section{
  padding-top: 87px;
  padding-bottom: 159px;
  @include bp(xs) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.collection-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.collection-left{
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  @include bp(sm) {
    justify-content: center;
  }
  picture{
    width: 533px;
    height: 591px;
    display: flex;
    @include bp(xs) {
      width: 100%;
      height: auto;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.collection-right{
  padding-top: 77px;
  padding-left: 49px;
  padding-right: 10px;
  position: relative;
  @include bp(xs) {
    padding-left: 10px;
    padding-top: 60px;
  }
  &:before{
    position: absolute;
    z-index: -1;
    content: '';
    width: 299px;
    height: 597px;
    top: 119px;
    right: 39px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: $beige;
    @include bp(lg) {
      right: -40px;
    }
  }
  .btn{
    width: 269px;
    span{
      margin-right: -10px;
    }
  }
  picture{
    display: flex;
    margin-top: 64px;
    margin-left: 128px;
    width: 390px;
    height: 288px;
    @media only screen and (max-width: 1359px) {
      margin-left: 60px;
    }
    @include bp(xs) {
      margin: 60px auto 0;
      width: 290px;
      height: 214px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.collection-title{
  display: block;
  margin-bottom: 28px;
  font-family: $title;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

.collection-descr{
  font-size: 14px;
  line-height: 140%;
  max-width: 376px;
  margin-bottom: 29px;
}
