.main-section{
  padding: 60px 0 70px;
  @include bp(xs) {
    padding: 36px 0 27px;
  }
  .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @include bp(xs) {
      flex-direction: column;
    }
    &:before{
      display: block;
      position: absolute;
      content: '';
      z-index: -1;
      border-radius: 50%;
      pointer-events: none;
      width: 641px;
      height: 641px;
      background-color: $pink;
      top: -301px;
      left: -391px;
      @include bp(md) {
        width: 447px;
        height: 447px;
        top: -53px;
        left: -90px;
      }
      @include bp(xs) {
        left: -160px;
        top: -16px;
      }
    }
    &:after{
      display: block;
      position: absolute;
      content: '';
      z-index: -1;
      pointer-events: none;
      border-radius: 50%;
      width: 864px;
      height: 864px;
      background-color: $light;
      top: -179px;
      right: -327px;
      @include bp(md) {
        width: 600px;
        height: 600px;
      }
      @include bp(sm) {
        display: none;
      }
      @include bp(xs) {
        display: block;
        width: 429px;
        height: 429px;
        right: -166px;
        top: auto;
        bottom: -67px;
      }
    }
  }
}

.main-left{
  width: 628px;
  @include bp(lg) {
    width: 50%;
  }
  @include bp(xs) {
    width: 100%;
  }
  img{
    width: 100%;
  }
}

.main-right{
  width: calc(100% - 628px);
  padding-left: 72px;
  padding-top: 122px;
  position: relative;
  @include bp(xxl) {
    padding-top: 80px;
  }
  @include bp(lg) {
    width: 50%;
  }
  @include bp(md) {
    padding-top: 60px;
    padding-left: 30px;
  }
  @include bp(sm) {
    padding-top: 35px;
  }
  @include bp(xs) {
    width: 100%;
    padding-left: 42px;
    padding-right: 32px;
  }
  >picture{
    position: absolute;
    pointer-events: none;
    width: 352px;
    height: 517px;
    right: 0;
    top: 338px;
    @include bp(lg) {
      display: none;
    }
    @include bp(xs) {
      position: static;
      display: block;
      width: 220px;
      height: 325px;
      margin: 52px auto 0;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .btn{
    width: 205px;
    margin-top: 113px;
    @include bp(md) {
      margin-top: 40px;
    }
    @include bp(xs) {
      margin: 22px auto 0;
    }
    @include bp(xxs) {
      margin-left: 0;
    }
  }
}

.main-title{
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $title;
  text-transform: uppercase;
  font-size: 82px;
  line-height: 96px;
  @include bp(md) {
    font-size: 58px;
    line-height: 72px;
  }
  @include bp(sm) {
    font-size: 48px;
    line-height: 56px;
  }
  @include bp(xs) {
    font-size: 42px;
    line-height: 52px;
    width: 215px;
    margin-left: auto;
    margin-right: auto;
  }
  @include bp(xxs) {
    margin-left: 0;
  }
}

.main-descr{
  display: block;
  margin-top: 19px;
  max-width: 368px;
  font-size: 16px;
  line-height: 140%;
  @include bp(xs) {
    margin-top: 6px;
    font-size: 14px;
    line-height: 140%;
    width: 215px;
    margin-left: auto;
    margin-right: auto;
  }
  @include bp(xxs) {
    margin-left: 0;
  }
}
