.about-section{
  padding-top: 65px;
  padding-bottom: 80px;
  @include bp(xs) {
    margin-top: -275px;
    padding-bottom: 72px;
  }
  .container{
    position: relative;
    &:before{
      display: block;
      position: absolute;
      content: '';
      z-index: 1;
      width: 299px;
      height: 597px;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      background: $beige;
      top: -86px;
      left: -64px;
      @include bp(xs) {
        left: -99px;
        top: -32px;
      }
    }
  }
}

.about-wrapper{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin: 0 -10px;
}

.about-text{
  padding-left: 120px;
  padding-right: 10px;
  @media only screen and (max-width: 1359px) {
    padding-left: 60px;
  }
  @include bp(lg) {
    padding-left: 15px;
  }
  @include bp(sm) {
    position: relative;
    z-index: 1;
  }
  .btn{
    width: 222px;
  }
}

.about-title{
  display: flex;
  align-items: center;
  font-size: 36px;
  line-height: 42px;
  font-family: $title;
  text-transform: uppercase;
  margin-bottom: -5px;
  @include bp(xs) {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  picture{
    display: block;
    width: 134px;
    height: 134px;
    margin-left: 17px;
    @include bp(md) {
      margin-left: 15px;
    }
    @include bp(xs) {
      margin-left: 20px;
      width: 98px;
      height: 98px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.about-descr{
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 46px;
  @include bp(xxl) {
    max-width: 430px;
  }
  @include bp(sm) {
    max-width: 100%;
  }
  @include bp(xs) {
    margin-bottom: 26px;
  }
  p{
    margin-bottom: 5px;
  }
}

.about-pics{
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  @include bp(sm) {
    justify-content: center;
  }
  @include bp(xs) {
    display: none;
  }
}

.about-pic__main{
  width: 533px;
  height: 591px;
  position: relative;
  margin-top: -27px;
  picture{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.about-pic__additional{
  position: absolute;
  width: 275px;
  height: 372px;
  top: 145px;
  left: -151px;
  @include bp(lg) {
    display: none;
  }
  picture{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
