.catalog-page {
  margin-top: 11px;
  margin-bottom: 286px;
  @include bp(xs) {
    margin-bottom: 154px;
  }
}

// catalog-page__head

.catalog-page__head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 26px;
  border-bottom: 1px solid rgba(170, 167, 178, 0.3);
  @include bp(md) {
    margin-bottom: 13px;
  }
  &.row {
    display: flex;
    max-width: 1420px;
    margin: 0 auto 26px;
    @include bp(md) {
      margin-bottom: 13px;
    }
    & .col-md-3 {
      padding-left: 0;
      padding-bottom: 10px;
    }

    & .col-md-9 {
      display: flex;
      flex-wrap: wrap;
      padding-right: 0;
      padding-left: 5px;
      @include bp(xs) {
        padding-left: 0;
        justify-content: space-between;
      }

      & .catalog-page__head-controls {
        margin-left: auto;
      }
    }
  }
}

.catalog-page__head-count {
  display: flex;
  align-items: end;
  height: 30px;
  font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: $grey-txt;
  @include bp(xs) {
    font-size: 10px;
  }
}

.catalog-page__head-chosen-filters {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 10px;
  @include bp(md) {
    display: none;
  }
  &>span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $grey-txt;
  }

  &>div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -5px;

    & span {
      display: flex;
      align-items: center;
      gap: 7px;
      height: 30px;
      padding: 5px 8px 5px 11px;
      border: 1px solid #000;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: $main;
      border: 1px solid $grey-txt;
      border-radius: 5px;
      cursor: pointer;
      margin: 5px 10px 5px 0;
      &:hover,
      &:focus {
         color: $red;
        border: 1px solid $red;

        & svg path {
          fill: $red;
        }
      }

      &:last-child {
        gap: 11px;
        color: $grey-txt;
      }

      & i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11px;
        height: 11px;
      }
    }

  }
}

.catalog-page__head-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
  @include bp(xs) {
    gap: unset;
  }
}

// conrolls

.catalog-page__head-sort {
  display: flex;
  align-items: center;
  gap: 30px;
  @include bp(xs) {
    gap: unset;
  }

  &>span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $grey-txt;
    @include bp(xs) {
      display: none;
    }
  }

  & .dropdown-sort {
    position: relative;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: #7A6DA6;


    &.open {
      & .dropdown-sort-bot {
        display: block;
      }

      & i {
        transform: scale(1, -1);
      }
    }

    & .dropdown-sort-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 158px;
      height: 30px;
      padding-left: 15px;
      padding-right: 12px;
      border: 1px solid rgba(170, 167, 178, 0.3);
      border-radius: 5px;
      cursor: pointer;
      @include bp(xs) {
        border: none;
        min-width: 130px;
        padding: 0;
        justify-content: flex-start;
      }

      & i {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & .dropdown-sort-top-text {
      padding-top: 2px;
      margin-right: 10px;
      @include bp(xs) {
        display: none;
        margin-right: 3px;
      }
      &__mob{
        display: none;
        color: $grey-txt;
        @include bp(xs) {
          display: block;
        }
        &.chosen{
          color: $main;
        }
      }
    }

    & .dropdown-sort-bot {
      position: absolute;
      top: calc(100% + 3px);
      width: 100%;
     z-index: 100;
      padding: 4px 0;
      border: 1px solid rgba(170, 167, 178, 0.3);
      border-radius: 5px;
      background-color: #fff;
      display: none;
      @include bp(xs) {
        min-width: 157px;
        left: 0;
      }
    }

    & .dropdown-sort-bot-item {
      padding: 7px 0;
      padding-left: 15px;
      padding-right: 12px;
      cursor: pointer;

      &:hover {
        background-color: $light;
      }
    }
  }
}

.catalog-page__head-view {
  display: flex;
  gap: 15px;
  @include bp(xs) {
    gap: unset;
  }

  &>span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include bp(xs) {
      margin-left: 10px;
    }
    &:last-child{
      svg{
        @include bp(xs) {
          width: 21px;
        }
      }
    }
    svg{
      @include bp(xs) {
        height: 16px;
        width: 16px;
      }
    }
    &:hover,
    &:focus {
      & svg path {
        fill: $main;
      }
    }

    &.active {
      pointer-events: none;
      & svg path {
        fill: $main;
        
      }
    }
  }
}

.catalog-page__body {
  &.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;

    &>div {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  & .col-md-3 {
    @media (max-width: 991px) {
      display: none;
    }

  }
}

.catalog-filter,
.catalog-items {
  height: 100%;
}

// catalog-items

.catalog-items {
  margin-bottom: 50px;
  padding-bottom: 70px;
  border-bottom: 1px solid #C4C4C4;
  @include bp(xs) {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}

.catalog-filter {
max-width: 300px;
  @include bp(md) {
    max-width: unset;
    width: calc(100% - 30px);
    margin: 15px auto;
  }
}

.catalog-filter__box {
  margin-bottom: 20px;
  &.catalog-filter__box--categories  {
    & .catalog-filter__list {
      & a {
        font-size: 12px;
        line-height: 120%;
        font-weight: 400;
        color: $main;
        &:hover,
        &:focus {
            color: $red;
        }
      }
    }
  }
}

.catalog-filter__caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 35px;
  margin-bottom: 5px;
  padding: 5px 0;
  padding-left: 15px;
  padding-right: 32px;
  cursor: pointer;
  border: 1px solid rgba(170, 167, 178, 0.3);
  border-radius: 5px;
  @media (max-width: 1199px) {
   padding-right: 15px;
  }
  &.active {
    & i {
        transform: scale(1, -1);
      }
  }

  & span {
    margin-right: 15px;
    font-family: $title;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
  }

  & i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin-top: 2px;
    transition: transform linear 0.4s;
  }
}

.catalog-filter__list {
  padding: 18px 15px 24px 18px;
  border: 1px solid rgba(170, 167, 178, 0.3);
  border-radius: 5px;

  & li {
    &.active {
      & a>div span {
        border: 1px solid $main;
        background: $main url("../images/icons/check.svg") no-repeat left 3px top 5px;

      }
    }
    &>a {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
      color: rgba(#7A6DA6, 0.8);

      &>div {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        margin-right: 8px;

        & span {
          flex-shrink: 0;
          width: 15px;
          height: 15px;
          border: 1px solid rgba($main, 0.5);
          border-radius: 2px;
        }

        &>div {
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-left: 12px;
          margin-bottom: 1px;

          & img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &>span {
        display: block;
      }
    }

    &+li {
      margin-top: 14px;
    }
  }
}

.catalog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @include bp(xs) {
    gap: 10px;
  }
  // background: rgba(red, 0.2);
  @media (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }

  & .product-pic picture img {
    object-position: top;
  }

  & .product:hover {
    z-index: 1;
  }
  .product-pic__wrapper{
    @include bp(xs) {
      height: calc(62.5vw - 20px);
    }
  }
  .product-pic__tabs{
    @include bp(xs) {
      left: 8px;
      top: 9px;
    }
    li{
      @include bp(xs) {
        width: 37px;
        height: 50px;
        margin-bottom: 5px;
      }
    }
  }
  .product-labels{
    @include bp(xs) {
      top: 9px;
      right: 8px;
    }
    span{
      @include bp(xs) {
        width: 28px;
        height: 28px;
        font-size: 12px;
        line-height: 14px;
      }
      +span{
        @include bp(xs) {
          margin-top: 9px;
        }
      }
    }
  }
  .product-info__main{
    @include bp(xs) {
      padding: 10px 9px 0;
    }
  }
  .product-info__title{
    @include bp(xs) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 8px;
    }
  }
  .product-info__price{
    @include bp(xs) {
      font-size: 14px;
    }
  }
  .product-info__colors{
    span{
      @include bp(xs) {
        width: 7px;
        height: 7px;
      }
    }
  }
  .product-info__additional{
    @include bp(xs) {
      padding: 4px 9px 16px;
    }
  }
  .product-info__sizes{
    > div{
      span{
        @include bp(xs) {
          margin-right: 5px;
        }
      }
    }
  }
  .product-info__variations{
    @include bp(xs) {
      margin-bottom: 10px;
    }
    >a{
      @include bp(xs) {
        width: 45px;
        height: 45px;
      }
      + a{
        @include bp(xs) {
          margin-left: 5px;
        }
      }
    }
  }
  .product-info__footer{
    @include bp(xs) {
      flex-direction: column-reverse;
    }
  }
  .product-info__btn{
    @include bp(xs) {
      font-size: 14px;
      width: 100%;
    }
  }
  .product-info__more{
    @include bp(xs) {
      font-size: 14px;
      padding: 5px 10px;
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
    }
  }
}

.catalog-items.list-view {
  grid-template-columns: repeat(1, 1fr);
  height: auto;
  width: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  @include bp(sm) {
    gap: 30px;
  }
  @include bp(xs) {
    gap: 20px;
  }
  & .product {
    display: flex;
    border: 1px solid rgba(170, 167, 178, 0.4);
    border-radius: 10px;
    overflow: hidden;
    @include bp(sm) {
      flex-direction: column;
    }
    & .product-pic__wrapper {
      width: 340px;
      height: inherit;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      @include bp(sm) {
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        height: calc(106vw - 30px);
      }
    }
    .product-labels{
      @include bp(sm) {
        right: 18px;
        top: 18px;
      }
    }
    .product-pic__tabs{
      @include bp(sm) {
        left: 18px;
        top: 18px;
      }
    }

   & .product-info__wrapper {
    position: relative;
    width: calc(100% - 340px);
     @include bp(sm) {
       width: 100%;
     }
   }

    & .product-info__main {
      margin-bottom: 20px;
      padding-top: 29px;
      padding-left: 28px;
      @include bp(sm) {
        padding: 18px 8px 0 15px;
        margin-bottom: 12px;
      }
    }

    .product-info__title{
      max-width: calc(100% - 116px);
      @include bp(sm) {
        max-width: 100%;
      }
    }

    & .product-info__available {
      display: block;
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #AAA7B2;
      @include bp(sm) {
        font-size: 10px;
        line-height: 12px;
      }
    }

    & .product-info__colors {
      margin-bottom: 12px;
      opacity: 1;
      @include bp(sm) {
        margin-bottom: 5px;
      }
      span{
        @include bp(sm) {
          width: 10px;
          height: 10px;
          margin-right: 9px;
        }
      }
    }
    .product-info__price-wrapper{
      @include bp(sm) {
        position: relative;
      }
    }
    & .product-info__price {
      font-size: 21px;
    }

    & .product-info__articul {
      position: absolute;
      top: 24px;
      right: 26px;
      font-weight: 400;
        font-size: 16px;
        line-height: 23px;
      @include bp(sm) {
        font-size: 12px;
        line-height: 145%;
        top: 0;
        right: 8px;
        margin-top: -30px;
      }
    }

    & .product-info__price-wrapper {
      display: block;
    }

    // ===
    & .product-info__additional {
      position: static;
      opacity: 1;
      visibility: visible;
      padding-left: 28px;
      padding-bottom: 0;
      @include bp(sm) {
        padding: 0 15px 40px;
      }
      @include bp(xs) {
        padding-bottom: 32px;
      }
    }

    .product-info__sizes {
      @include bp(xs) {
        display: none;
      }
    }

    .product-info__color {
      @include bp(xs) {
        display: none;
      }
    }
    & .product-info__variations-wrapper {
      margin-top: 24px;
          margin-bottom: 23px;
      @media only screen and (max-width: 1359px) {
        margin-top: 20px;
        margin-bottom: 10px;
      }
      @include bp(sm) {
        margin-top: 14px;
        margin-bottom: 5px;
      }
      @include bp(xs) {
        display: none;
      }
    }

    .product-info__variations {
      a{
        @include bp(sm) {
          width: 65px;
          height: 65px;
        }
        +a{
          @include bp(sm) {
            margin-left: 10px;
          }
        }
      }
    }
    & .product-info__variations>a {
      &.current {
        box-shadow: 0 4px 10px rgba(81, 78, 180, 0.2);
      }
    }

    & .product-info__footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 15px;
      @include bp(sm) {
        padding-bottom: 0;
        flex-direction: column;
        align-items: stretch;
      }
      @include bp(xs) {
        position: relative;
      }
      & .product-info__more {
        padding: 15px 20px 15px 0;
        @include bp(sm) {
          text-align: right;
          padding-right: 8px;
        }
        @include bp(xs) {
          position: absolute;
          top: -50px;
          width: max-content;
          right: 0;
        }
      }
      & div {
        margin-right: 24px;
        display: flex;
        gap: 13px;
        @include bp(sm) {
          margin: 0 -5px;
          justify-content: space-between;
          gap: unset;
        }
        & a {
          width: 192px;
          @include bp(lg) {
            flex-basis: fit-content;
            width: auto;
            min-width: 120px;
          }
          @include bp(sm) {
            flex-basis: auto;
            min-width: unset;
            width: calc(50% + 2px);
            height: 40px;
            padding: 0 10px;
            font-size: 16px;
            line-height: 19px;
          }
          +a{
            @include bp(sm) {
              width: calc(50% - 12px);
            }
          }
        }
      }
    }
  }
}

.catalog-page__head-mob{
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  @include bp(md) {
    display: flex;
  }
}

.catalog-page__btn-categories{
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.03em;
  svg{
    margin-left: 5px;
  }
}

.catalog-page__btn-filters{
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.03em;
  span{
    margin-right: 5px;
    margin-left: 10px;
    min-width: 110px;
  }
}

.mob-filters__wrapper{
  position: fixed;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: linear .2s;
}

.mob-filters__head{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border-bottom: 1px solid $brown;
  font-family: $title;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.mob-filters__close{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}

.mob-filters__body{
  max-height: calc(100% - 134px);
  overflow: auto;
  padding-bottom: 15px;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 3px;
    transition: linear .2s;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-txt;
    border-radius: 0;
    width: 3px;
    transition: linear .2s;
    cursor: grab;
  }
  .catalog-page__head-chosen-filters{
    @include bp(md) {
      display: flex;
      align-items: baseline;
      gap: unset;
      width: calc(100% - 30px);
      margin: 10px auto 0;
      border-bottom: 1px solid $grey;
    }
    >span{
      @include bp(md) {
        min-width: max-content;
        margin-right: 8px;
      }
      @include bp(xs) {
        font-size: 10px;
        line-height: 12px;
      }
    }
    >div{
      @include bp(xs) {
        margin-bottom: -3px;
      }
      span{
        @include bp(xs) {
          margin: 3px 7px 3px 0;
          gap: 5px;
          font-size: 10px;
          line-height: 120%;
        }
      }
    }
  }
}

.mob-filters__footer{
  position: fixed;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  height: 84px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  filter: drop-shadow(0px 4px 10px rgba($accent, 0.2));
  padding: 10px 15px 15px;
  >span{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 120%;
    opacity: .8;
  }
  >div{
    display: flex;
    justify-content: center;
    @include bp(xs) {
      justify-content: space-between;
    }
    .btn{
      width: 180px;
      margin: 0 7px;
      height: 35px;
      font-size: 13px;
      line-height: 15px;
      @include bp(xs) {
        width: calc(50% - 5px);
        margin: 0;
      }
    }
  }
}

.mob-categories__wrapper{
  position: fixed;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: linear .2s;
}

.mob-categories__head{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border-bottom: 1px solid $brown;
  font-family: $title;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.mob-categories__close{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}

.mob-categories__body{
  max-height: calc(100% - 50px);
  overflow: auto;
  padding-top: 7px;
  padding-bottom: 15px;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 3px;
    transition: linear .2s;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-txt;
    border-radius: 0;
    width: 3px;
    transition: linear .2s;
    cursor: grab;
  }
}
