.our-contacts {
  margin-top: 94px;
  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.our-contacts__wrapper {
  @media (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.our-contacts__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 873px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-right: 85px;
  @media (max-width: 767px) {
    display: block;
  padding-right: 0;
  margin-bottom: 16px;
  }
}

.our-contacts__item {
  @media (max-width: 767px) {
    & + .our-contacts__item {
      margin-top: 40px;
    }
  }
  & span,
  & a {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $main;
    @media (max-width: 767px) {
      font-size: 14px;
        line-height: 16px;
    }
  }


  &:last-of-type {
    & span:not(.our-contacts__item-title) {
      margin-bottom: 14px;
    }
  }

  & .our-contacts__item-title {
    display: block;
    margin-bottom: 16px;
    font-family: $title;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    @media (max-width: 767px) {
      margin-bottom: 10px;
      font-size: 18px;
        line-height: 21px;
    }
  }

  & .our-contacts__item-address,
  & .our-contacts__item-mail {
    display: block;
    margin-bottom: 10px;
  }
}

.our-contacts__item-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.our-contacts__item-messengers {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 12px;
  @media (max-width: 767px) {
    margin-left: 25px;
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }
}

.our-contacts__map {
        margin-bottom: 90px;
  border-radius: 10px;
  overflow: hidden;
  height: 480px;
  @media (max-width: 767px) {
    order: -1;
    width: 100%;
    margin-bottom: 30px;
  }
  @media (max-width: 480px) {
    height: 195px;
  }
}
