.faq-section {
  margin-top: 60px;
  margin-bottom: 100px;
  @media (max-width: 991px) {
  margin-top: 35px;
  margin-bottom: 60px;
  }
}

.faq-item {
  margin-bottom: 20px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow linear 0.2s 0.2s;
  @media (max-width: 991px) {
    margin-bottom: 15px;
  }
  &.active {
    transition: box-shadow linear 0.2s;
    box-shadow: 0px 0px 10px rgba(81, 78, 180, 0.2);
    & .faq-head i {
      transform: rotate(-180deg);
    }
  }
}

.faq-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  padding: 5px 56px 5px 34px;
  background-color: $light;
  cursor: pointer;
  @media (max-width: 991px) {
    padding: 18px 18px 18px 21px;
  }
  @media (max-width: 574px) {
    align-items: flex-end;
  }
  & span {
    padding-right: 25px;
      font-family: $title;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: $main;
      text-transform: uppercase;
      @media (max-width: 991px) {
          font-size: 18px;
        }
    }
    & i {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform linear 0.35s;
      @media (max-width: 574px) {
        margin-bottom: 7px;
      }
    }
}

.faq-body {
  display: none;
  padding: 30px 100px 30px 34px;
  @media (max-width: 574px) {
    padding: 30px 15px 25px 10px;
  }
  & p,
  span,
  li {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $main;
  }

  &>p+p,
  >span+span {
    margin-top: 16px;
  }

  & ul li {
    margin-left: 30px;
    list-style-type: disc;
  }
}
