.header {
  transition: linear 0.4s;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid $brown;
  @include bp(md) {
    border-bottom: none;
  }
  &.fixed {
    background-color: $white-opacity;
    @include bp(md) {
      top: 0;
    }
    .header-top{
      height: 70px;
      padding-top: 0;
      @include bp(md) {
        height: 50px;
      }
      .container{
        height: 100%;
        align-items: center;
      }
    }
    .header-logo{
      height: 50px;
      @include bp(lg) {
        height: 28px;
      }
    }
    .header-left, .header-right{
      padding-top: 0;
    }
  }
}

.header-top{
  height: 138px;
  transition: linear 0.4s;
  border-bottom: 1px solid $brown;
  padding-top: 34px;
  @include bp(lg) {
    height: 120px;
  }
  @include bp(md) {
    height: 50px;
    padding-top: 0;
  }
  .container{
    transition: linear 0.4s;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include bp(md) {
      height: 100%;
      align-items: center;
    }
  }
}

.header-left{
  width: 400px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  transition: linear 0.4s;
  @include bp(lg) {
    padding-top: 15px;
  }
  @include bp(md) {
    width: auto;
    padding-top: 0;
  }
}

.header-socials{
  display: flex;
  align-items: center;
  @include bp(md) {
    display: none;
  }
  a{
    display: flex;
    margin-right: 25px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      svg{
        path{
          fill: $red;
        }
      }
    }
  }
}

.header-logo{
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  width: 420px;
  height: 80px;
  transition: linear 0.4s;
  @include bp(lg) {
    width: 300px;
    height: 48px;
  }
  @include bp(md) {
    width: 175px;
    height: 34px;
    align-items: center;
    margin-left: 5px;
  }
  @include bp(xs) {
    width: 150px;
    height: 29px;
  }
  img{
    width: 100%;
  }
}

.header-right{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 20px;
  transition: linear 0.4s;
  @include bp(lg) {
    padding-top: 10px;
  }
  @include bp(md) {
    width: auto;
    flex: 1 0 auto;
    padding-top: 0;
  }
}

.header-phones__wrapper{
  position: relative;
  a{
    display: flex;
    align-items: center;
    text-decoration: none;
    svg{
      margin-right: 4px;
    }
    &:hover{
      svg{
        path{
          fill: $red;
        }
      }
    }
  }
  &:hover{
    .header-phones{
      top: 100%;
      opacity: 1;
      visibility: visible;
    }
    .header-phone__main{
      i{
        transform: scale(1, -1);
        svg{
          path{
            fill: $red;
          }
        }
      }
    }
  }
}

.header-phone__main{
  display: flex;
  align-items: center;
  @include bp(md) {
    font-size: 0;
  }
  >a{
    @include bp(md) {
      pointer-events: none;
    }
    svg{
      @include bp(xs) {
        display: none;
        margin-right: 0;
      }
      +svg{
        display: none;
        @include bp(xs) {
          display: block;
        }
      }
    }
  }
  i{
    margin-left: 6px;
    width: 9px;
    height: 9px;
    display: flex;
    align-items: center;
    transition: 0.2s linear;
    @include bp(md) {
      position: relative;
      z-index: 1;
      width: 30px;
      height: 30px;
      margin-left: -8px;
      padding: 10px;
    }
    @include bp(xs) {
      display: none;
    }
  }
}

.header-phones{
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  @include bp(xs) {
    right: -30px;
  }
}

.header-phones__list{
  filter: drop-shadow($shadow);
  background-color: #fff;
  position: relative;
  padding: 16px;
  margin-top: 10px;
  &:before{
    position: absolute;
    content: '';
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    right: 30px;
    bottom: 100%;
  }
  a{
    min-width: max-content;
    +a{
      margin-top: 5px;
    }
  }
}

.header-search__wrapper{
  position: relative;
  margin-left: 37px;
  @include bp(xs) {
    position: static;
    margin-left: 10px;
  }
  &.show{
    .header-search{
      display: block;
    }
    .header-search__form{
      width: 316px;
      @include bp(xs) {
        width: calc(100vw - 26px);
      }
    }
  }
  &.active{
    .header-search__form{
      >input{
        border-radius: 5px 5px 0 0;
      }
    }
  }
  &.focus.active {
    .search-results {
      display: block !important;
    }
    .header-search__form{
      >input{
        background-color: $main;
        color: #fff;
        +button{
          svg{
            path{
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

.header-search__btn{
  cursor: pointer;
  display: flex;
  &:hover{
    svg{
      path{
        fill: $red;
      }
    }
  }
}

.header-search{
  position: absolute;
  z-index: 2;
  display: none;
  right: -18px;
  top: -8px;
  border-radius: 5px;
  @include bp(xs) {
    right: 13px;
    left: 13px;
    top: 8px;
  }
}

.header-search__form{
  filter: drop-shadow($shadow);
  display: flex;
  position: relative;
  width: 0;
  transition: linear .2s;
  >input{
    height: 35px;
    width: 100%;
    padding-left: 15px;
    padding-right: 50px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    &::placeholder{
      color: $main;
    }
    &:focus{
      background-color: $main;
      color: #fff;
      &::placeholder{
        color: transparent;
      }
      +button{
        svg{
          path{
            fill: #fff;
          }
        }
      }
    }
  }
  >button{
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    width: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    &:hover{
      svg{
        path{
          fill: $red;
        }
      }
    }
  }
  .search-results{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    border-radius: 0 0 5px 5px;
    >ul{
      padding: 15px 15px 0;
      max-height: 206px;
      overflow: auto;
      &::-webkit-scrollbar {
        overflow-y: scroll;
        background: transparent;
        width: 4px;
        transition: linear .2s;
      }
      &::-webkit-scrollbar-thumb {
        background: $main;
        border-radius: 0;
        width: 4px;
        transition: linear .2s;
        cursor: grab;
      }
      li{
        display: none;
        &.show{
          display: block;
        }
        +li{
          margin-top: 9px;
        }
      }
    }
    >div{
      a{
        float: right;
        text-align: right;
        padding: 10px 15px;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-decoration: underline;
        color: $red;
        &:hover{
          text-decoration: none;
        }
      }
      span{
        clear: both;
        justify-content: center;
        text-align: center;
        color: $accent;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        padding: 0 15px 15px;
      }
    }
  }
}

.search-results-item{
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    .search-results-item__about{
      span{
        text-decoration: underline;
      }
    }
  }
}

.search-results-item__pic{
  width: 55px;
  height: 41px;
  border-radius: 3px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.search-results-item__about{
  width: calc(100% - 55px);
  padding-left: 11px;
  span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $accent;
    .mark, mark{
      padding: 0;
      background: transparent;
      color: $red;
    }
  }
  small{
    display: block;
    color: $main;
    font-size: 12px;
    line-height: 14px;
  }
}

.header-lang{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba($main, .3);
  margin-left: 31px;
  @include bp(md) {
    display: none;
  }
  span{
    color: $main;
  }
  a{
    color: rgba($main, .3);
  }
}

.header-bot{
  @include bp(md) {
    display: none;
  }
  .container{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-menu{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  >li{
    &.has-children{
      position: relative;
      &:hover{
        >a{
           color: $brown;
          svg{
            transform: scale(1, -1);
            path{
              fill: $brown;
            }
          }
        }
        >div{
          top: 100%;
          opacity: 1;
          visibility: visible;
        }
      }
      >a{
        display: flex;
        align-items: center;
        svg{
          margin-left: 11px;
          transition: linear .2s;
        }
      }
      >.dropmenu{
        position: absolute;

        min-width: 300px;
        left: 0;
        top: calc(100% + 15px);
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        padding: 22px 20px;
          padding-bottom: 28px;
        transition: linear .2s;
        filter: drop-shadow($shadow);
        &::before {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 60px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #fff;

      }
            &>div a {
              display: block;
              font-family: $title;
              font-style: normal;
              font-weight: 400;
              font-size: 21px;
              line-height: 24px;
              text-transform: uppercase;
              color: $main;
              &:hover,
              &:focus {
                 color: $brown;
                  text-decoration: underline;
              }
              & + a {
                margin-top: 15px;
              }
            }
            }
    }
    &:first-child{
      >a{
        padding-left: 0;
      }
    }
    &.current{
      a{
        color: $red;
      }
    }
    &.accent{
      a{
        color: $red;
      }
    }
    >a{
      padding: 22px 25px;
      @include bp(lg) {
        padding: 22px 11px;
      }
    }
  }
}

.header-cart__wrapper{
  position: relative;
  &:hover{
    .header-cart{
      top: calc(100% + 19px);
      opacity: 1;
      visibility: visible;
    }
  }
  >a{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    span{
      margin-left: 10px;
      display: block;
      min-width: 20px;
      padding: 0 3px;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      border-radius: 20px;
      background-color: $red;
      color: #fff;
    }
  }
}

.header-cart{
  position: absolute;
  top: calc(100% + 34px);
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  filter: drop-shadow($shadow);
  background-color: #fff;
  width: 300px;
  @include bp(md) {
    width: 100%;
    position: static;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
  }
  &:before{
    position: absolute;
    content: '';
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    right: 30px;
    bottom: 100%;
  }
  &:after{
    position: absolute;
    content: '';
    bottom: 100%;
    width: 100%;
    height: 20px;
  }
}

.header-cart__head{
  border-bottom: 1px solid $grey;
  padding: 16px 12px 12px;
  text-align: center;
  font-family: $title;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  @include bp(md) {
    padding: 20px 12px 10px;
  }
}

.header-cart__body{
  border-bottom: 1px solid $grey;
}

.header-cart__list{
  padding: 23px 14px 18px 8px;
  max-height: 250px;
  overflow: auto;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 4px;
    transition: linear .2s;
  }
  &::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 0;
    width: 4px;
    transition: linear .2s;
    cursor: grab;
  }
  >li{
    display: flex;
    justify-content: space-between;
    +li{
      margin-top: 9px;
    }
  }
}

.header-cart__remove{
  cursor: pointer;
  display: flex;
  @include bp(md) {
    margin-top: 2px;
  }
  &:hover{
    svg{
      rect{
        fill: $red;
      }
      circle{
        stroke: $red;
      }
    }
  }
}

.header-cart__item{
  width: calc(100% - 31px);
  display: flex;
  align-items: center;
  text-decoration: none;
  @include bp(md) {
    width: calc(100% - 17px);
  }
  &:hover{
    text-decoration: none;
    .header-cart__item-about{
      span{
        text-decoration: underline;
      }
    }
  }
}

.header-cart__item-pic{
  width: 55px;
  height: 41px;
  border-radius: 3px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header-cart__item-about{
  width: calc(100% - 55px);
  padding-left: 11px;
  span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $accent;
    .mark, mark{
      padding: 0;
      background: transparent;
      color: $red;
    }
  }
  small{
    display: block;
    color: $main;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
  }
}

.header-cart__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 22px;
  @include bp(md) {
    padding: 24px 18px 12px 10px;
  }
}

.header-cart__footer-total{
  display: flex;
  align-items: baseline;
  flex: 1 0 auto;
  padding-right: 5px;
  >small{
    font-size: 11px;
    line-height: 146%;
    margin-right: 6px;
  }
  >div{
    font-size: 16px;
    line-height: 130%;
    span{
      font-size: 10px;
      line-height: 130%;
    }
  }
}

.header-cart__btn{
  width: 152px;
  @include bp(md) {
    width: 130px;
  }
}

.header-cart__empty{
  .header-cart__head{
    padding-top: 43px;
    padding-bottom: 27px;
    @include bp(md) {
      padding: 20px 12px 10px;
    }
  }
  .header-cart__footer{
    padding-top: 23px;
    padding-bottom: 32px;
    justify-content: center;
    @include bp(md) {
      padding: 38px 12px 12px;
    }
    .header-cart__btn{
      width: 180px;
    }
  }
}

.header-spacer{
  height: 199px;
  @include bp(lg) {
    height: 181px;
  }
  @include bp(md) {
    height: 50px;
  }
}

.mobile-menu__btn {
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  background-color: transparent;
  border: none;
  margin-left: -5px;
  @include bp(md) {
    display: flex;
    svg{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: ease-in-out .3s;
      +svg{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
      }
    }
  }
  &.active {
    svg{
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
      +svg{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.mobile-cart__wrapper{
  display: none;
  margin-left: 12px;
  @include bp(md) {
    display: flex;
  }
  >span{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    span{
      margin-left: 4px;
      display: block;
      min-width: 15px;
      padding: 0 3px;
      text-align: center;
      font-weight: 400;
      font-size: 10px;
      height: 15px;
      line-height: 15px;
      border-radius: 15px;
      background-color: $red;
      color: #fff;
    }
  }
}

.mobile-cart{
  display: none;
  width: 280px;
  height: 100vh;
  position: fixed;
  right: -300px;
  top: 0;
  bottom: 0;
  z-index: 102;
  filter: drop-shadow($shadow);
  background-color: #fff;
  @include bp(md) {
    display: block;
  }
}

.header-cart__close{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 8px;
  right: 12px;
}

.mobile-menu__wrapper{
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: linear .2s;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  background-color: #fff;
  height: calc(100vh - 50px);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.mobile-menu__top{
  padding: 36px 42px 55px;
  border-bottom: 1px solid $brown;
  flex: 1 0 auto;
  >ul{
    >li{
      margin-bottom: 20px;
      &.has-children{
        display: flex;
        flex-wrap: wrap;
        &.opened{
          span{
            svg{
              transform: scale(1, -1);
            }
          }
        }
        >span{
          flex: 1 0 auto;
          padding-left: 11px;
        }
        >div{
          display: none;
          width: 100%;
          padding-top: 20px;
          padding-left: 20px;
          >a{
            display: block;
            margin-bottom: 10px;
            font-family: $title;
            text-transform: uppercase;
          }
        }
      }
      &.current, &.accent{
        a{
          color: $red;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.mobile-menu__bot{
  padding: 20px 35px 40px 42px;
  >div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .header-lang{
      @include bp(md) {
        display: block;
        margin: 0;
      }
    }
    .header-socials{
      @include bp(md) {
        display: flex;
      }
    }
  }
  >ul{
    margin-top: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    li{
      margin-bottom: 7px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
