// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$main: #7A6DA6;
$accent: #514EB4;
$light: #F2F5FD;
$pink: #FFF6F8;
$red: #F16D87;
$brown: #D3B5A0;
$beige: #FBEEE6;
$grey: #C4C4C4;
$grey-txt: #AAA7B2;
$white-opacity: rgba(#fff, 0.8);
$shadow: 0px 0px 10px rgba($accent, 0.2);
$default: "Raleway";
$title: "Oranienbaum";
