<footer class="footer">
    <div class="container">
    </div>
</footer>
<div class="mfp-hide">
    <div class="popup" id="question-popup">
        <button title="Close (Esc)" type="button" class="mfp-close">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.0349 10.792L18.5003 16.3266L12.9657 10.792L10.792 12.9657L16.3266 18.5003L10.792 24.0349L12.9657 26.2087L18.5003 20.6741L24.0349 26.2087L26.2087 24.0349L20.6741 18.5003L26.2087 12.9657L24.0349 10.792Z" fill="white"/>
            </svg>
        </button>
        <span class="popup-title">Свяжитесь с нами!</span>
        <form class="consult-form ajax_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте еще раз через некоторое время." data-success-title="Спасибо за сообщение" data-success-message="Наш менеджер свяжется с Вами в ближайшее время.">
            <div class="radio-wrapper">
                <span>Связаться как:</span>
                <div class="radio">
                    <input type="radio" name="type" id="r1">
                    <label for="r1">Поставщик</label>
                </div>
                <div class="radio">
                    <input type="radio" name="type" id="r2">
                    <label for="r2">Дистрибьютор</label>
                </div>
                <div class="radio">
                    <input type="radio" name="type" id="r3">
                    <label for="r3">Потребитель</label>
                </div>
            </div>
            <div class="input-wrapper">
                <input class="input" type="text" name="name" placeholder="Имя" data-title="Имя" data-validate-required="Обязательное поле">
            </div>
            <div class="form-row">
                <div class="input-wrapper">
                    <input class="input" type="email" name="email" placeholder="Email" data-title="Email" data-validate-required="Обязательное поле" data-validate-email="Неправильный email">
                </div>
                <div class="input-wrapper">
                    <input class="input" type="tel" name="phone" placeholder="Телефон" data-title="Телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер">
                </div>
            </div>
            <div class="input-wrapper">
                <input class="input" type="text" name="comment" placeholder="Текст сообщения" data-title="Сообщение" data-validate-required="Обязательное поле">
            </div>
            <button type="submit" class="btn btn-tr">Задать вопрос</button>
        </form>
    </div>
</div>
